:root {
  --color-primary: #1976d2;
  --bg: var(--color-primary);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg);
}

.v-application,
.v-application__wrap,
.v-main,
.v-main__wrap {
  min-height: 100vh;
  background-color: var(--bg);
}
